/*  BASIC STUFF  */
:root {
	/* colors */
	--accent-color: #C271FF;
	--light-color: #FFFFFF;
	--dark-color: #071629;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	text-align: center;
	word-wrap: break-word;
	line-height: 1.75;
}

section {
	width: 75%;
	margin: auto auto;
	padding: 5rem 0;
}
/*  END OF BASIC STUFF  */


/*  BOOTSTRAP CLASSES  */
.text-primary { color: var(--accent-color) !important; }
.text-light { color: var(--light-color) !important; }
.text-dark { color: var(--dark-color) !important; }
.bg-primary { background-color: var(--accent-color) !important; }
.bg-light { background-color: var(--light-color) !important; }
.bg-dark { background-color: var(--dark-color) !important; }
.btn-primary { background-color: var(--accent-color) !important; }

.btn {
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.50);
	border: none;
}
/*  END OF BOOTSTRAP CLASSES  */


/*  FAKE BOOTSTRAP  */
.txt-xl { font-size: 7.5rem; }
.txt-md { font-size: 2rem; }
.txt-sm { font-size: 0.75rem; }
.max-w-300 { max-width: 300px; }

.w-150 { width: 150px; }
/*  END OF FAKE BOOTSTRAP  */


.background_image {
	background-image: url(images/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
