/*  BASIC STUFF  */
:root {
	/* colors */
	--accent-color: #C271FF;
	--light-color: #FFFFFF;
	--dark-color: #071629;
	--less-dark-color: rgba(7, 22, 41, 0.50);
}

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
	text-align: center;
	word-wrap: break-word;
	line-height: 1.75;
}

section { padding: 5rem 0; }
/*  END OF BASIC STUFF  */


/*  BOOTSTRAP CLASSES  */

/*  colors  */
.text-primary { color: var(--accent-color) !important; }
.text-secondary { color: var(--less-dark-color) !important; }
.text-light { color: var(--light-color) !important; }
.text-dark { color: var(--dark-color) !important; }
.bg-primary { background-color: var(--accent-color) !important; }
.bg-light { background-color: var(--light-color) !important; }
.bg-dark { background-color: var(--dark-color) !important; }
.btn-primary { background-color: var(--accent-color) !important; }

.btn {
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.50);
	border: none;
}

/*  spacing  */
.px-4-1 {
	padding-left: 2rem;
	padding-right: 2rem;
}
.px-4-2 {
	padding-left: 2.75rem;
	padding-right: 2.75rem;
}

.card { width: 255px; }

.rounded-top {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.border-bottom {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid var(--light-color) !important;
}
/*  END OF BOOTSTRAP CLASSES  */


/*  FAKE BOOTSTRAP  */
.txt-xl { font-size: 7.5rem; }
.txt-lg { font-size: 3.75rem; }
.txt-mdlg { font-size: 2.75rem; }
.txt-md { font-size: 2rem; }
.txt-smd { font-size: 0.9rem; }
.txt-sm { font-size: 0.75rem; }

.w-255 { width: 255px; }
.max-w-300 { max-width: 300px; }
.max-w-500 { max-width: 500px; }
.max-w-1110 { max-width: 1110px; }

.w-255 { width: 255px; }
.w-150 { width: 150px; }
.h-15px { height: 15px; }
.wh-30px {
	width: 30px;
	height: 30px;
}
.wh-160px {
	width: 160px;
	height: 160px;
}

.opacity-50 { opacity: 0.5; }
.bg-opacity-25 { background-color: rgba(255, 255, 255, 0.25); }

.pl-6 { padding-left: 7rem; }
/*  END OF FAKE BOOTSTRAP  */


.background_image {
	background-image: url(images/homepage_background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.background_image_pricing {
	background-image: url(images/pricing_background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.background_image_courses {
	background-image: url(images/courses_background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header {
	padding: 2rem 0 0;
	margin: auto auto 13rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-nav:hover, option:hover {
	color: var(--accent-color) !important;
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
}
